{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}

    <!-- content goes here -->
    <h1>Welcome, {{ current_user.firstname }} </h1>

    <h2 class="text-center">Users</h2>
    <table class="table table-hover table-dark">
        <!-- User Model -->
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Created Time</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }} </td>
                    <td>{{ user.created_time }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

      <!-- Exercise Model -->
    <h2 class="text-center">Exercises</h2>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Exercise Name</th>
                <th scope="col">Exercise Instructions</th>
                <th scope="col">Exercise Description</th>
                <th scope="col">Exercise Length</th>
                <th scope="col">Cumulative Rating</th>
                <th scope="col">Category ID</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.id }}</td>
                    <td>{{ exercise.exercise_name }}</td>
                    <td>{{ exercise.exercise_instructions }}</td>
                    <td>{{ exercise.exercise_description }}</td>
                    <td>{{ exercise.exercise_length }}</td>
                    <td>{{ exercise.cumulative_rating }}</td>
                    <td>{{ exercise.category_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

       <h2 class="text-center">Routines</h2>
    <table class="table table-hover table-dark">
        <!-- Routine Model -->
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Exercise ID</th>
            </tr>
        </thead>
        <tbody>
            {% for routine in routines %}
                <tr>
                    <td>{{ routine.routine_id }}</td>
                    <td>{{ routine.user_id }}</td>
                    <td>{{ routine.exercise_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="text-center">Favorites</h2>
    <table class="table table-hover table-dark">
        <!-- Favorites Model -->
        <thead>
            <tr>
                <th scope="col">Favorites ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Exercise ID</th>
            </tr>
        </thead>
        <tbody>
            {% for favorite in favorites %}
                <tr>
                    <td>{{ favorite.favoritesid }}</td>
                    <td>{{ favorite.user_id }}</td>
                    <td>{{ favorite.exercise_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

